<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="cadastro-estabelecimento-card">
          <form class="form-edit">
            <ion-grid>



              <ion-row>
                <ion-col size="12">
                  <p>Informações Do Estabelecimento</p>
                </ion-col>
                <ion-col size="12">
                  <ion-input type="text" placeholder="Nome"></ion-input>
                  <ion-input type="text" placeholder="Categoria"></ion-input>
                  <ion-input type="text" placeholder="CNPJ"></ion-input>
                  <ion-input type="text" placeholder="Telefone"></ion-input>
                  <ion-input type="text" placeholder="E-mail"></ion-input>
                </ion-col>

                <ion-col size="12">
                  <hr>
                  <p>Formas De Pagamaento</p>
                </ion-col>

                <ion-col size="6">

                  <ion-item>
                    <ion-label>Dinherio</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Cartão de Cŕedito</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Cartão de Débito</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item>
                    <ion-label>Dinherio</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Cartão de Cŕedito</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                  <ion-item>
                    <ion-label>Cartão de Débito</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                  </ion-item>
                </ion-col>

                <ion-col size="12">
                  <hr>
                  <p>Redes Sociais</p>
                </ion-col>
                <ion-col size="12">
                  <ion-input type="text" placeholder="Site"></ion-input>
                  <ion-input type="text" placeholder="Facebook"></ion-input>
                  <ion-input type="text" placeholder="Instagram"></ion-input>
                </ion-col>


                <ion-col size="12">
                  <hr>
                  <p>Endereço</p>
                </ion-col>
                <ion-col size="12">
                  <ion-input type="text" placeholder="CEP"></ion-input>
                  <ion-input type="text" placeholder="Estado"></ion-input>
                  <ion-input type="text" placeholder="Cidade"></ion-input>
                  <ion-input type="text" placeholder="Rua"></ion-input>
                  <ion-input type="text" placeholder="Numero"></ion-input>
                  <ion-input type="text" placeholder="Complemento"></ion-input>
                </ion-col>


                <ion-col size="12">
                  <hr>
                  <p>Horário de Funcionamento</p>
                </ion-col>
                <ion-col size="12">
<!--                  <ion-input type="text" placeholder="CEP"></ion-input>-->
<!--                  <ion-input type="text" placeholder="Estado"></ion-input>-->
<!--                  <ion-input type="text" placeholder="Cidade"></ion-input>-->
<!--                  <ion-input type="text" placeholder="Rua"></ion-input>-->
<!--                  <ion-input type="text" placeholder="Numero"></ion-input>-->
<!--                  <ion-input type="text" placeholder="Complemento"></ion-input>-->
                </ion-col>

                <ion-col size="12">
                  <ion-button expand="block">
                    Cadastrar
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

