<ion-header>
  <ion-toolbar>
    <ion-title>cupons</ion-title>
    <ion-buttons class="adicionar-button" routerLink="/tabs/cupons/adicionar" slot="end">
      <ion-icon name="add-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="cupom-card">
          <p>Validar Cupom</p>
          <form [formGroup]="form" class="form-edit" (ngSubmit)="onSubmit()">
            <ion-input type="text" formControlName="token" placeholder="Código"></ion-input>
            <ion-col size="8" offset="2">
              <ion-button type="submit" expand="block">
                Validar
              </ion-button>
            </ion-col>
          </form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5 class="title ion-margin-bottom">Cupons</h5>
        <div class="cupom-list">
          <div class="cupom-item" *ngFor="let cupom of cupons">
            <ion-thumbnail slot="start">
              <img *ngIf="cupom.imagem" src="{{cupom.imagem}}">
              <img *ngIf="!cupom.imagem" src="assets/no_image.jpg">
            </ion-thumbnail>
            <div class="content">
              <ion-row>
                <p class="title">{{cupom.nome}}</p>
                <a class="cupomLink ion-float-right" [routerLink]="['adicionar', cupom.key]">Gerenciar</a>
              </ion-row>
              <ion-row>
                <span *ngIf="cupom.status" class="ativo"></span>
                <p *ngIf="cupom.status" class="tags">Ativo</p>

                <span *ngIf="cupom.status == 0" class="desativado"></span>
                <p *ngIf="cupom.status == 0" class="tags">Desativado</p>
              </ion-row>
              <ion-row>
                <p class="description">{{cupom.descricao}}</p>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
