<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>login</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <img class="logo" src="assets/LogoAproveitePetropolis.PNG">
      </ion-col>
    </ion-row>

    <form class="form-login" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col size="12">
          <p class="title">Login</p>
            <ion-input type="email" formControlName="email" placeholder="E-mail"></ion-input>
            <ion-input type="password" formControlName="senha" placeholder="Senha"></ion-input>
        </ion-col>
        <ion-col size="10" offset="1" class="ion-justify-content-center ion-align-items-center ion-align-self-center">
          <ion-button expand="block" type="submit">
            Entrar
          </ion-button>
          <a class="button-cadastro" routerLink="/login/esqueci-senha">Esqueci senha</a>
          <a class="button-cadastro" routerLink="/login/cadastro">Cadastre-se</a>
        </ion-col>
      </ion-row>
    </form>


<!--    <ion-row>-->
<!--      <ion-col class="ion-justify-content-center ion-align-items-center ion-align-self-center">-->
<!--        <p class="title-social">Entrar com</p>-->
<!--        <div class="icon-box">-->
<!--          <img class="icon-face" src="assets/icon/facebook.svg">-->
<!--          <img class="icon-gmail" src="assets/icon/facebook.svg">-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
  </ion-grid>

</ion-content>
