<ion-header>
  <ion-toolbar>
    <ion-title>adicionar</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="adicionar-card">
          <p>Cupom</p>
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-edit">
<!--            <ion-toggle [checked]="status" (ionChange)="toggleChange($event)" slot="end"></ion-toggle>-->
            <ion-thumbnail slot="start" (click)="imagemInput.click()">
              <img *ngIf="imagemUrl ==''" src="assets/insert_image.png">
              <img *ngIf="imagemUrl !=''" [src]="imagemUrl">
            </ion-thumbnail>
            <input type="file" #imagemInput formControlName="imagem" (change)="uploadImagem($event)">

            <ion-item>
              <ion-label>Ativo</ion-label>
              <ion-checkbox slot="end" [formControl]="status"></ion-checkbox>
            </ion-item>


            <ion-input formControlName="nome" type="text" placeholder="Nome"></ion-input>
            <ion-textarea rows="6" formControlName="descricao" placeholder="Descrição"></ion-textarea>

            <ion-col size="8" offset="2">
              <ion-button type="submit" expand="block">
                Adicionar
              </ion-button>
            </ion-col>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
