<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="perfil-card">
          <div class="perfil-avatar">
            <ion-avatar (click)="imagemInput.click()">
              <img *ngIf="usuario.photoUrl" src="{{usuario.photoUrl}}">
              <img *ngIf="!usuario.photoUrl" src="assets/no_profile.png">
            </ion-avatar>
            <input type="file" #imagemInput (change)="uploadImg($event)">
            <p class="ion-no-margin">{{usuario.name}}</p>
          </div>

          <div class="perfil-list-links">
            <h5 class="subtitle">Configurações da conta</h5>
            <ion-button expand="block" routerLink="/tabs/perfil/editar">
              <span>
                Informações Pessoais
              </span>
              <ion-icon slot="end"  name="person-outline"></ion-icon>
            </ion-button>
<!--            <ion-button expand="block">-->
<!--              <span>-->
<!--                Senha-->
<!--              </span>-->
<!--              <ion-icon slot="end"  name="lock-closed-outline"></ion-icon>-->
<!--            </ion-button>-->
          </div>

          <div class="perfil-list-links estabelecimento-list">
            <h5 class="subtitle">Estabelecimento</h5>
            <ion-button expand="block" [routerLink]="['/tabs/perfil-estabelecimento/estabelecimento/editar/', estabelecimentoKey]">
              <span>
                Informações do Estabelecimento
              </span>
              <ion-icon slot="end"  name="storefront-outline"></ion-icon>
            </ion-button>
<!--            <ion-button expand="block" routerLink="/tabs/equipe">-->
<!--              <span>-->
<!--                Equipe-->
<!--              </span>-->
<!--              <ion-icon name="people-outline"></ion-icon>-->
<!--            </ion-button>-->
            <ion-button expand="block" (click)="redirectMeusEstab()">
              <span>
                Meus Estabelecimentos
              </span>
              <ion-icon name="grid-outline"></ion-icon>
            </ion-button>


          </div>

          <div class="perfil-list-links logout-list">
            <!--            <h5 class="subtitle">Estabelecimento</h5>-->
            <ion-button expand="block" routerLink="/login" (click)="logout()">
              <span>
                Sair
              </span>
              <ion-icon slot="end"  name="log-out-outline"></ion-icon>
            </ion-button>

          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
