
.perfil-card{
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.29);
}


.perfil-avatar{
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  ion-avatar{
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  p{
    text-align: center;
    font-size: 12px;
    color: #bea063;
    margin-top: 15px;
  }
}

.perfil-list-links{
  margin-top: 50px;
  .subtitle{
    font-size: 12px;
    font-weight: medium;
    color: #7c7b7b
  }
  ion-button{
    --background: none;
    --color: #7c7b7b;
    --color-activated: #f2f2f2;
    border-bottom: 1px solid #b3b3b3;
    --border-radius: 0px;
    span{
      font-family: 'Ubuntu', sans-serif;
      font-weight: normal;
      font-size: 14px;
      text-align: left;
      width: 100%;
    }

  }
}
.estabelecimento-list{
  margin-top: 25px;
}
.logout-list{
  margin-top: 80px;
}

