<ion-header>
  <ion-toolbar>
    <ion-title>{{estabelecimento?.nome}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="visitas-card">
          <p>Visitas na Página</p>
          <p class="numero" *ngIf="estabelecimento">{{estabelecimento.visitas}} <span>Visitas</span></p>
<!--          <p class="numero" *ngIf="!estabelecimento.visitas"><span>Esta página ainda não possui nenhuma visita.</span></p>-->
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-validacao-cupom></app-validacao-cupom>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
