<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="visitas-card">
          <p>Visitas na Página</p>
          <p class="numero" *ngIf="estabelecimento">{{estabelecimento.visitas}} <span>Visitas</span></p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="cupom-card">
          <p>Validar Cupom</p>
          <form class="form-edit">
            <ion-input type="email" placeholder="Código"></ion-input>
          </form>
          <ion-col size="8" offset="2">
            <ion-button expand="block">
              Validar
            </ion-button>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
